{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "env": {
    "browser": true
  },
  "rules": {
    "import/no-unresolved": 0,
    "import/no-extraneous-dependencies": 0,
    "import/extensions": 0,
    "react/forbid-prop-types": 0,
    "react/prefer-stateless-function": 0,
    "react/jsx-filename-extension": 0,
    "no-underscore-dangle": 0,
    "no-confusing-arrow": 0,
    "import/prefer-default-export": 1,
    "react/no-array-index-key": 1,
    "react/prop-types": 1,
    "no-unused-vars": 1,
    "no-debugger": 1,
    "react/require-default-props": 0 // Because of default param values :)
  }
}
